@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: 'koblenz', sans-serif;
}

.button-link{
  @apply hover:text-white hover:bg-pink-500 rounded-md pl-2 pr-2 text-emerald-800 bg-cyan-400/80 flex text-center items-center justify-center gap-1 h-full;
}

.image-project:hover{
  @apply scale-125;
}


@font-face {
  font-family: 'koblenz';
  src: url('./../public/koblenz-bold-1.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'koblenz';
  src: url('./../public/KoblenzSerial-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'koblenz';
  src: url('./../public/KoblenzSerial-Light.otf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}